<div class = "container">
    <h1>Submit A New Compliment:</h1>
    <form class = "form" action="/" method = "post">
        <input class="input" id="new-compliment" type="text" name="new_compliment">
        <input class="input button" type="submit">
    </form>
</div>